[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
nltk = "==3.2.5"
six = "==1.11.0"
Metaphone = "==0.6"
PyYAML = "==3.12"

[dev-packages]
pytest = "*"
pytest-doctestplus = "*"
memorable-password = {git = "https://github.com/patarapolw/memorable-password.git", editable = true}
randomsentence = {git = "https://github.com/patarapolw/randomsentence.git", editable = true}
setuptools = "*"
wheel = "*"
twine = "*"
pytest-readme = "*"

[requires]
python_version = "3.6"
